<div class="flex gap-3 flex-wrap">
  @for (field of formContents(); track $index) { @if (field.type !==
  FormTypes.group && field.type !== FormTypes.array) {
  <div class="flex flex-col gap-2">
    <span class="font-semibold">{{ field.label }}</span>
    <p>{{ (form()?.get(field.name)?.valueChanges | async) || "-" }}</p>
  </div>
  } @if (field.type === FormTypes.group) {
  <div>
    <app-recursive-preview
      [formContents]="field.fields || []"
      [form]="form()?.get(field.name)"
    />
  </div>
  } @if (field.type === FormTypes.array) {
  <div>
    @for (item of formArray(field.name); track $index) {
    <div>
      <app-recursive-preview
        [formContents]="field.fields || []"
        [form]="item"
      />
    </div>
    }
  </div>
  } }
</div>
